/* ========== TESTIMONIAL SECTION ========== */
.testimonial-section {
  background-color: #35007a;
  background-position: cover;
  padding: 100px 20px;
  color: white;
  text-align: center;
}

.testimonial-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: left;
  margin-left: 150px;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.testimonial-card {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 25px;
  text-align: left;
  transition: 0.3s;
  height: 100%;
  max-height: 237px;
  max-width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 80px;
}

.testimonial-card:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.testimonial-content {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.client-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  margin-top: 5px;
}

.testimonial-content p {
  font-size: 15px;
  line-height: 1.6;
  opacity: 0.95;
  margin-top: 3px;
}

.client-name {
  margin-top: 20px;
  font-size: 13px;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: left;
}

.testimonial-card:hover .client-name {
  color: #6a00f4;
}